body{
  height: 1500px;
  position:relative;
}

nav{
  background-color: skyblue;
}

#navbar1{
  background-color: skyblue;
  position: fixed;
  width: 100%;
}

#navbar2{
  background-color: seagreen;
  position: relative;
  top: 150px;
}

#navbar3{
  background-color: lavender;
  position: absolute;
  bottom: 100px;
}

li{
  display: inline;
  padding: 10px;
}
