body{
   background-color: lavender;
}

th, td{
  background-color: #89CFF0;
  padding: 15px;
  text-align: center;
}

caption{
  text-align: left;
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 15px;
}

.header-col{
  background-color: #D3D3D3;
}
