nav {
  background-color: Tan;
}

ul{
  display:flex;
  justify-content: flex-end;
  padding: 0;
}

li{
  display: inline;
  padding: 10px:
}

#home {
  margin-right: auto;
}

.dropdownContainer{
  position: relative;
}

.dropdownMenu{
  background-color: brown;
  position: absolute;
  flex-direction: column;
  width: 100%;
  left: 0px;
  top: 75%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s, top 0.5s;
}

.dropdownContainer:hover .dropdownMenu,
.dropdownMenu:hover{
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: white;
  text-decoration: none;
}
/* @media only screen and (max-width: 768px){
  ul {
    flex-direction: column;
    align-items: center;
  }
#home{
  margin-right: 0;
 }
} */
