body{
  background-color: lavender;
  font-family: sans-serif;
}

header,footer{
  background-color: #000;
  color: #049993;
  height: 100px;
/* text-align: center ; */
  padding-left: 5px;
}


/* formerly nav */
div ul li{
  color: #000;
  display:inline;
  list-style-type: none;
}

ul{
  padding-left: 2px;
}
a{
  color: #000;
}
/* Formerly main */
div{
  background-color: #C4C5C6;
  padding: 12px;
}
/* Formerly section */
.section{
  background-color: #C4C5C6;
  padding: 12px;
}

   /* header h1{
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
}
