body{
  background-color: lavender;
  font-family: sans-serif;
  margin: 0;
  max-width: 99%;
}

header,footer{
  background-color: #000;
  color: #049993;
  height: 100px;
  padding: 12px
  /* height: 100px; */
/* text-align: center ; */
  padding-left: 5px;
  float:left;
  width: 100%
}

nav{
  float:left;
  width:100%;
}


nav ul li{
  display:inline;
  list-style-type: none;
}

ul{
  padding-left: 12px;
}
a{
  color: #000;
}

main{
  background-color: #049993;
  padding: 12px;
  /* padding-right: 10px */
  float left;
width: 100%;
}

section{
  background-color: #C4C5C6;
  padding: 12px;
  /* float: right; */
  float: left;
  width: 49%;
}

#section1{
  margin-bottom: 6px;
  /* float: left; */
  margin-right: 10px;
}
   /* header h1{
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
