body{
  /* background-color: Navy blue */
  background-image: url('Assets/Mountains.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
 color:#ffff;
}

h1{

}
