body{
  height: 1500px;
  position:relative;
}

nav{
  background-color: skyblue;
}

#navbar1{
  background-color: tan;
  position: fixed;
  width: 100%;
}

#navbar2{
  background-color: pink;
  position: relative;
  top: 150px;
}

#navbar3{
  background-color: skyblue;
  position: absolute;
  bottom: 100px;
}
ul{
  padding: 0;
}

li{
  display: inline;
  padding: 10px;
}

a{
  color: brown;
  text-decoration: none;
}
a:hover{
  color: white;
  text-decoration: none;
}

a:active{
  text-decoration:line-through;
}
